$card-bg: #f8efe0;
$primary-color: #d6ab74;
$background-color: #b0a495;
$text-color: #323f54;
$accent-color: #CABD9A;
$secondary-color: #e8c88f;

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;

$border-radius: 12px;
$border-radius-sm: 6px;
$border-radius-lg: 8px;

$transition-speed: 0.2s;
$transition-speed-slow: 0.3s;
